@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root{
    --color-body:#EEEEEE;
    --color-heading:#e7e7e7;
    --color-base:#393E46;
    --color-base2:#222831;
    --color-brand:#E9B824;
    --color-brand2:#FFC436;
    --sidebar-width: 240px;
    --font-base: "Montserrat";
}

body{
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), Verdana, Geneva, Tahoma, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-heading);
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s  ease;
}

a:hover{
    color: var(--color-brand);
}

img{
    width: 100%;
}

.text-brand{
    color: var(--color-brand);
}

.bg-base{
    background-color: var(--color-base);
}

.shadow-effect{
    transition: all 0.5s;
}

.shadow-effect:hover{
    box-shadow: 0 0 0 4px var(--color-brand);
}

.iconbox{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 3px solid rgba(255,255,255,0.1);
}

/* NAVIGATION */

.navbar{
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link.active{
    color: var(--color-brand);
}

.navbar .nav-link:hover{
    color: var(--color-brand);
}

.navbar-brand img{
    border: 6px solid var(--color-brand);
}

.card-custom{

}

@media(min-width: 992px){
    .navbar{
        min-height: 100vh;
        width: var(--sidebar-width);
        background: linear-gradient(rgba(57, 62, 70, 0.85), rgba(57, 62, 70, 0.85)), url(../images/navigation-image.jpg);
        background-size: cover;
        background-position: center;
    }
    /* CONTENT WRAPPER */

    #content-wrapper{
        padding-left: var(--sidebar-width);
    }
}

@media(max-width: 992px){
    #home .link-custom{
        font-size: 12px;
    }
}

@media(max-width: 576px){
    #home .link-custom{
        font-size: 8px;
    }
}

/* BTN */

.btn{
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand{
    background-color: var(--color-brand);
    color: var(--color-base);
    border-color: var(--color-brand);
}

.btn-brand:hover,
.btn-brand:focus{
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

/* LINK */

.link-custom{
    font-weight: 700;
    position: relative;
}

.link-custom::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}
.link-custom:hover::after{
    width: 100%;
}

/* SERVICES */

.service{
    min-height: 17rem;
    font-size: 12px;
}

/* CUSTOM CARD WORK */

.card-custom .card-custom-image{
    overflow: hidden;
    max-height: 342px;
}

.card-custom .card-custom-image{
    transition: all 0.5s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.03);
}

/* CONTACT SECTION */

#contact .form-control{
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control:focus{
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder{
    color: var(--color-body);
}
#contact input.form-control{
    height: 42px;
}

/* FOOTER */

.social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
}